body{
    margin: 0;
    background: white;
    color: black;
    text-align: center;
}
span.line{
    display: inline-block;
}
.single-line{
    white-space: nowrap;
}
h1{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 40px;
    text-decoration: none;
    line-height: 0.5;
}
.hyperlink{
    color: royalblue;
    text-decoration: none;
}
.hyperlink:hover{
    color: #34568B; /*classicblue*/
    text-decoration: underline;
}
.hyperlink:active{
    color: firebrick;
}
.upperleft{
    top: 0%;
    left: 0%;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
a{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
}

.hyperimage{
    opacity: 0.8;
}
.hyperimage:hover{
    opacity: 1.0;
}

.fade-in-out{
    animation-iteration-count:infinite;

    animation: fadeInOut ease 10s;
    -webkit-animation: fadeInOut ease 10s;
    -moz-animation: fadeInOut ease 10s;
    -o-animation: fadeInOut ease 10s;
    -ms-animation: fadeInOut ease 10s;
}
@keyframes fadeInOut {
    0% {
        opacity:0;
      }
      40% {
          opacity:1;
      }
      60% {
        opacity:1;
    }
      100% {
        opacity:0;
      }
}
@-moz-keyframes fadeInOut {
    0% {
        opacity:0;
      }
      40% {
          opacity:1;
      }
      60% {
        opacity:1;
    }
      100% {
        opacity:0;
      }
}
@-webkit-keyframes fadeInOut {
    0% {
        opacity:0;
      }
      40% {
          opacity:1;
      }
      60% {
        opacity:1;
    }
      100% {
        opacity:0;
      }
} 
@-o-keyframes fadeInOut {
    0% {
        opacity:0;
      }
      40% {
          opacity:1;
      }
      60% {
        opacity:1;
    }
      100% {
        opacity:0;
      }
}
@-ms-keyframes fadeInOut {
    0% {
        opacity:0;
      }
      40% {
          opacity:1;
      }
      60% {
        opacity:1;
    }
      100% {
        opacity:0;
      }
}


@media (prefers-color-scheme: dark){
    h1{
        color: white;
    }
    a{
        color: white;
    }
    body{
        background: black;
        color: white;
    }
    .hyperimage{
        opacity: 1.0;
    }
    .hyperimage:hover{
        opacity: 0.8;
    }
}

