body{
    margin: 0;
    background: white;
    color: black;
    text-align: left;
    min-height: 100%;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.center-text-align {
    text-align: center;
}
.left-text-align {
    text-align: left;
}
.right-text-align {
    text-align: right;
}
span.line{
    display: inline-block;
}
.single-line{
    white-space: nowrap;
}
span.tab {
    margin-left: 2.5px;
}
h1{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 46px;
    text-decoration: none;
    line-height: 0;
}
.hyperlink{
    color: royalblue;
    text-decoration: none;
}
.hyperlink:hover{
    color: #34568B;
    text-decoration: underline;
}
.hyperlink:active{
    color: firebrick;
}

.greenhyperlink{
    color: #00974c;
    opacity: 0.8;
    text-decoration: none;
    border-bottom: none;
}
.greenhyperlink:hover{
    opacity: 1.0;
    border-bottom: 1px solid #00974c;
}
.upper-center{
    position: fixed;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.upper-left{
    position: fixed;
    top: 0px;
    left: 0px;
}
.upper-right{
    position: fixed;
    top: 0px;
    right: 0px;
}
.lower-center{
    position: fixed;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.padding{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.right{
    position: fixed;
    right: 0px;
}
.center{
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table {
    border: 0;
    border-spacing: 0;
}

a{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
}

.hyperimage{
    opacity: 0.8;
}
.hyperimage:hover{
    opacity: 1.0;
}

.fade-in{
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes fadeInOut {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes fadeInOut {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes fadeInOut {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-ms-keyframes fadeInOut {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@media (prefers-color-scheme: dark){
    h1{
        color: white;
    }
    a{
        color: white;
    }
    body{
        background: black;
        color: white;
    }
    .hyperimage{
        opacity: 1.0;
    }
    .hyperimage:hover{
        opacity: 0.8;
    }
    .greenhyperlink{
        opacity: 1.0;
    }
    .greenhyperlink:hover{
        opacity: 0.8;
    }
}

