<div class="upper-center padding center-text-align">
    <h1>
        Joe Binns
    </h1>
    <table class="center-text-align" style="width: 20vw; min-width:100%">
        <tr>
            <td style="width: 33.3%"><a class="hyperlink" href="./index.html">Home</a></td>
            <td style="width: 33.3%"><a class="hyperlink" href="./about.html">About</a></td>
            <td style="width: 33.3%"><a id="delayed_link" class="hyperlink" href="./portfolio.html">Portfolio</a></td>
        </tr>
    </table>
</div>